<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Escola Municipal Esperança</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>

    <h1>Escola Municipal Esperança</h1>
    <p>Sistema Integrado de Acompanhamento Escolar - Prevenção de evasão e Análise de notas</p>

<table>
    <tr>
        <th></th>
        <th>Nome</th>
        <th>Risco de Evasão</th>
        <th>Tendência de Notas</th>
        <th>Ações</th>
    </tr>

    {% for aluno in alunos %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
            {{ aluno.nome }}
            {% if aluno.analise.alerta_critico %}
                
            {% endif %}
        </td>
        <td class="{{ aluno.risco }}">
            {% if aluno.risco == "VERDE" %}     BAIXO
            {% elif aluno.risco == "AMARELO" %} MODERADO
            {% else %}                          ALTO
            {% endif %}
        </td>
        <td class="{{ aluno.analise.tendencia }}">
            {% if aluno.analise.tendencia == "MELHORANDO" %}   MELHORANDO
            {% elif aluno.analise.tendencia == "PIORANDO" %}   PIORANDO
            {% else %}                                         ESTÁVEL
            {% endif %}
        </td>
        <td>
            <a href="/aluno/{{ aluno.indice }}"  class="btn btn-azul">Ver detalhes</a>
        </td>
    </tr>
    {% endfor %}

    {% if alunos | length == 0 %}
    <tr>
        <td colspan="5" style="text-align:center;color:#999">Nenhum aluno cadastrado.</td>
    </tr>
    {% endif %}
</table>

<section .container="class">
    <a href="/novo" class="btn btn-azulnovo" >Novo  Aluno</a>
</section>

<footer>
    <div class="container">
        <!-- ul 1 -->
        <ul>
            <h3>Escola Municipal Esperança</h3>
            <p>Sistema de Integrado de Acompanhamento Escolar</p>
        </ul>
        <!-- final ul 1 -->

        <!-- ul 2 -->
        <ul>
            <h3>Endereço</h3>
            <li><a href="https://maps.app.goo.gl/Z8ZNp4vn3eY9Aigf6">São Francisco/Cohama</a></li>
            <li>
                <p>R. das Limeiras - Jardim Renascença, São Luís - MA, 65075-200</p>
            </li>
        </ul>
        <!-- Final ul 2 -->
        
        <!-- ul 3-->
        <ul>
            <h3>Contatos</h3>
            <li>
                <p>98 9 9854-6699</p>
            </li>
            <li>
                <p>escolaesperança@email.com</p>
            </li>
        </ul>
         <!-- final ul3 -->
    </div>
</footer>

</body>
</html>
