<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <title>Novo Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='novo.css') }}">
</head>
<body>

<h1>Cadastrar Novo Aluno</h1>

<div class="formulario">
    <form method="POST" action="/novo">

        <label>Nome do aluno:</label>
        <input type="text" name="nome" required>
        
        <label>Frequência (%):</label>
        <input type="number" name="frequencia" min="0" max="100" step="1.0" required>

        <label>Ocorrências disciplinares:</label>
        <input type="number" name="ocorrencias" min="0" value="0" required>

        <div class="linha-check">
            <input type="checkbox" name="baixa_renda" id="baixa_renda">
            <label for="baixa_renda" style="margin:0; font-size: 14px; font-weight:normal">Família de baixa renda</label>
        </div>

        <div class="linha-check">
            <input type="checkbox" name="trabalha" id="trabalha">
            <label for="trabalha" style="margin:0; font-size: 14px; font-weight:normal">Aluno trabalha</label>
        </div>

        <label>Notas do bimestre (Deixe vazio se faltou):</label>
        <div class="grade-grid">
            <input type="number" name="nota1" min="0" max="10" step="0.1" placeholder="Nota 1">
            <input type="number" name="nota2" min="0" max="10" step="0.1" placeholder="Nota 2">
            <input type="number" name="nota3" min="0" max="10" step="0.1" placeholder="Nota 3">
            <input type="number" name="nota4" min="0" max="10" step="0.1" placeholder="Nota 4">
            <input type="number" name="nota5" min="0" max="10" step="0.1" placeholder="Nota 5">
            <input type="number" name="nota6" min="0" max="10" step="0.1" placeholder="Nota 6">
        
        <input type="submit" value="Cadastrar Aluno" class="btn-azul"></div>
    </div>
    </form>
 
<footer>
   
    <a href="/"> Voltar para a lista</a>
</footer>

</body>
</html>
